





/* 底部样式 */
.meizu-footer {
    margin: 0;
    padding: 0;
    z-index: 999;
    font-size: 14px;
    color: #515151;
    position: relative;
    background-color: #fff;
}
#meizu-footer .meizu-footer-link {
    padding: 48px 0 20px;
    border-top: 1px solid #f1f1f1;
}

#meizu-footer .meizu-row{
    max-width: 1240px;
    position: relative;
}
#meizu-footer .meizu-footer-service{
    float: left;
    width: 78%;
}
#meizu-footer .meizu-footer-service li {
    float: left;
    text-align: center;
    width: 15%;
}
#meizu-footer .meizu-footer-service li a {
    display: block;
    overflow: hidden;
    line-height: 27px;
    font-size: 12px;
    color: #666;
}
#meizu-footer .meizu-footer-service li img {
    width: 50px;
    display: block;
    margin: 0 auto;
}
#meizu-footer .onlive-server {
    float: right;
    text-align: right;
    margin-top: -18px;
}
#meizu-footer .onlive-server span {
    color: #999;
    font-size: 12px;
    line-height: 30px;
}
#meizu-footer .onlive-server .tel {
    color: #00c3f5;
    font-size: 25px;
    font-weight: 400;
    margin-top: -6px;
    line-height: 40px;
}
#meizu-footer .onlive-server .onlive-btn {
    height: 30px;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    background: #0bbbef;
}
#meizu-footer .footer-hr {
    margin: 10px auto 28px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eee;
    padding: 0;
}
#meizu-footer .meizu-footer-info {
    color: #999;
    text-align: left;
    font-size: 12px;
    width: 100%;
}
#meizu-footer .meizu-footer-info-left {
    float: left;
}
#meizu-footer .meizu-footer-info-left ul li {
    padding-right: 15px;
    border-right: 1px solid #d6d6d6;
    float: left;
    height: 18px;
    margin-right: 15px;
}
#meizu-footer .meizu-footer-info-left ul a {
    display: block;
    line-height: 18px;
}
.meizu-footer-language-wp {
    float: left;
}
.meizu-footer-certificate {
    padding-top: 8px;
}
#meizu-footer .meizu-footer-info a {
    color: #999;
}
#meizu-footer .meizu-footer-info-left .footer-info-record {
    margin: 0 6px;
}
#meizu-footer .meizu-footer-info-left .footer-info-license {
    margin: 0;
}
#ii-subscribe {
    float: right;
    margin-top: 25px;
    position: relative;
}
#meizu-footer .meizu-footer-info a {
    color: #999;
}
.ii-hr {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: #eee;
    margin: 0 10px;
    position: relative;
    top: 5px;
    /* top: 3px; */
}
#meizu-footer .meizu-footer-info img {
    margin-bottom: -9px;
    position: absolute;
    bottom: 40px;
    left: -20px;
    width: 180px;
    display: none;
}
.ii-subscribe-img {
    display: inline-block;
    width: 21px;
    height: 18px;
    position: relative;
    top: 4px;
    *top: 2px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 96%;
    /* background-image: url(https://fms.res.meizu.com/dms/2019/01/07/3b085af8-a47b-453c-b147-a4b352fb3a14.png); */
}
.ii-subscribe-img em{
    display: none;
    background: url(https://fms.res.meizu.com/dms/2019/01/07/6721704b-7b6d-445d-a025-e33649e5db74.png);
}
#meizu-footer .meizu-footer-info-left .meizu-footer-language i {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background-image: url(../img/lang-logos_118491e.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}
#meizu-footer .meizu-footer-info-left .meizu-footer-language a {
    position: relative;
    display: block;
    padding-left: 24px;
}
#meizu-footer .meizu-footer-info-left .footer-info-record i {
    
    width: 14px;
    background-image: url(../img/jinghui.png);
}
#meizu-footer .meizu-footer-info-left .footer-info-record {
    margin: 0 6px;
}
#meizu-footer .meizu-footer-info-left i {
    position: relative;
    top: 4px;
    display: inline-block;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
}
#meizu-footer .meizu-footer-info-left .footer-info-license i {
    width: 20px;
    background-image: url(../img/sprit-1.png);
}
#meizu-footer .meizu-footer-info-left .footer-info-wel i {
    width: 20px;
    background-image: url(../img/sprit-2.png);
}
#meizu-footer .meizu-footer-info-left .footer-info-trust i {
    width: 25px;
    background-image: url(../img/sprit-3.png);
}
